@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 650px;
  height: 100%;
  display: flex;
  box-shadow: 0px 3px 5px 1px hsl(241, 100%, 89%);
  border-radius: 1.25rem;
}

.card-one {
  width: 50%;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  padding: 1.5rem;
  border-radius: 1.25rem;
  text-align: center;
  color: hsl(241, 100%, 89%);
}

.card-one .score {
  height: 130px;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.25rem auto;
  border-radius: 50%;

  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

.card-one .score h1 {
  font-size: 3.25rem;
  font-weight: 800;
  color: white;
}

.card-one h2 {
  color: white;
  margin-bottom: 1rem;
}
.header {
  font-size: 1.25rem;
  font-weight: 700;
}

.cardTwo {
  width: 50%;
  padding: 1.5rem;
}

.cardTwo p {
  color: hsl(224, 30%, 27%);
  margin-bottom: 1.25rem;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.875rem;
  border-radius: 0.5rem;
  margin-bottom: 0.875rem;
}

.items .mainScore {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}

.items .percentile {
  color: hsl(224, 30%, 57%);
}

.btn {
  width: 100%;
  border-radius: 1.5rem;
  font-size: 1.15rem;
  font-weight: 700;
  margin-top: 1.15rem;
  color: white;
  background-color: hsl(224, 30%, 27%);
  padding: 0.75rem;
  outline: none;
  border: none;
}

.text {
  width: 200px;
  margin: 0 auto;
}

.items .image-text {
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 375px) {
  body {
    padding: 3rem 0.5rem;
    width: 100%;
    height: 100vh;
  }
  .container {
    width: 320px;
    margin: 2.5rem 0;
    flex-direction: column;
  }

  .card-one,
  .cardTwo {
    width: 100%;
  }
}
